body {
	background-color:#2364AA;

}

nav {
	background-color: #73bfb8;
	width:100%;
}
nav ul {
	text-align: left;
	list-style: none;


}
nav ul li {
	display: inline;
}
nav ul li a {
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}


.nonactive:hover { 
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	border-color:#FEC601;
	margin: 10px;
 	border-radius: 10px;
	background-color: #63afa8;
	transition: 0.5s;
}
.nonactive {
	border: 2px solid white;
	transition: 0.5s;
}
.active {
	border: 2px solid white;
	background-color:white;
	color:#FEC601;
}
.icon {
	height:110px;
	width:160px;

}
.view-bandc {
	float: right;
	height:100px;
	width:300px;
	margin: 5px
}
.application {
	width:100%;
	height:2200px;

}
#application {
	width:95%;
	margin-right:5px;
	margin-left:25px;
}
.notfound {
	text-align:center;
	height:250px;
}
.notfoundtext {
	color:red;
	font-size:80px;
}
.gohome {
	background-color:#EA7317;
	border-radius:5px;
	height:50px;
	width:300px;
	font-size:30px;
}
.welcome {
	text-align:center;
	color:#FEC601;

}
#contactform {
	height:200px;
	width: 30%;
	background-color:#3da5d9;
	margin: auto;
	text-align:center;
	border-radius:10px;
	padding: 5px 0;
}
#contactform input {
	display: block;
	margin: 30px auto;
	border: 1px solid #AAA;

}
#contactform p {
	font-size:20px;
}